
<p>Do you have old treasures you’d like to sell? We invite you to email photos to <a href="mailto:mail@pastimes.com">mail@pastimes.com</a> or call (607)-277-3457 for an appointment with a buyer.
</p>
<p>Things we’re looking for:</p>

<p><strong>Jewelry</strong> We buy gold, silver, and costume jewelry from the 19th and 20th centuries. We especially like southwestern, art nouveau, art deco, enamel, hand-painted, and signed jewelry.
</p>
<p><strong>Vintage Clothing</strong> We buy women's and men's vintage clothing in good condition from the 19th century through the 1980's. Bring in a single item or a trunkful!
</p>
<p><strong>Vintage Textiles</strong> We buy vintage and antique quilts, tapestries, blankets, fabrics, ribbons, table and bed linens, lace and trim.
</p>
<p><strong>Art</strong> We buy interesting old framed and unframed oil paintings, watercolors, prints, posters, sculptures, carvings, folk art, and travel souvenirs from days gone by.
</p>
<p><strong>Postcards</strong> We are always looking for American postcards from 1905 thru 1915 in excellent condition. .
</p>
<p><strong>Toys</strong> We buy vintage and antique toys, games, and children's books. We especially like dollhouses, dollhouse furniture, and other miniatures.
</p>
<p><strong>Buttons</strong> We buy 19th and early 20th century buttons including picture buttons, enamels, glass, metal, large or carved mother of pearl, vegetable ivory, deco, bakelite, and realistics.
</p>
<p><strong>Photos</strong> We seek old photographs, tintypes, daguerreotypes, and ambrotypes, the more interesting and unusual the subject matter the better.
</p>
<p><strong>Advertising</strong> We like small advertising items including tins, mirrors, premiums, giveaways, catalogs. blotters, etc.
</p>
<p><strong>Pinback Buttons, Political and Militaria</strong> We are looking for 19th and 20th century political and military items: pins, ribbons, paper, etc.
</p>
<p><strong>Miscellaneous</strong> We are interested in antiques/collectibles including boxes, candlesticks, flatware, silver, pens, ink wells, perfume bottles, pocket knives, paper ephemera, and other unique items.
</p>
