{% comment %}
/**
  filename
  filepath
  thumb sizes wids=(63 102 122 300) square63
  full sizes wids=(300 375 450 800 960) w300
  */
{% endcomment %}
{% assign sizes = "300,375,450,800,960" | split: "," %}
{% assign srcsets = [] %}
{% for size in sizes %}
  {% assign dir = "w" | append: size %}
  {% assign path = include.filepath | replace: "original", dir %}
  {% assign srcset = path | append: " " | append: size | append: "w" | split: "|" %}
  {% assign srcsets = srcsets | concat: srcset %}
{% endfor %}
<a href="{{ include.filepath }}" title="{{ include.filename }}" srcset="{{ srcsets | join: ', ' }}" src="{{ srcset }}" alt="{{ include.filename }}">
