<script type='application/ld+json'>
  {
    "@context": "http://www.schema.org",
    "@type": "LocalBusiness",
    "name": "Pastimes",
    "url": "http://pastimes.com",
    "email": "mailto:mail@pastimes.com",
    "image": "http://pastimes.com/images/store.png",
    "description": "Ithaca's fun and affordable antiques shop, est. 1979",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "In the DeWitt Mall at 215 North Cayuga Street",
      "addressLocality": "Ithaca",
      "addressRegion": "New York",
      "postalCode": "14886",
      "addressCountry": "US"
    },
    "geo": {
      "@type": "GeoCoordinates",
      "latitude": "42.440872",
      "longitude": "-76.5009907"
    },
    "hasMap": "https://www.google.com/maps/place/Pastimes/@42.440872,-76.5009907,17z/data=!3m1!4b1!4m5!3m4!1s0x89d0819cc771239f:0xa7f3bfb814d11e6e!8m2!3d42.440872!4d-76.498802",
    "openingHours": ["Mo-Fr 10:30-18:00", "Sa 11:00-17:30"],
    "contactPoint": {
      "@type": "ContactPoint",
      "telephone": "+1 (607) 277-3457",
      "email": "mailto:mail@pastimes.com",
      "contactType": "sales"
    },
    "priceRange": "$",
    "telephone": "(607) 277-3457"
  }
</script>