{% comment %}
/**
  filename
  filepath
  thumb sizes wids=(63 102 122 300) square63
  full sizes wids=(300 375 450 800 960) w300
  */
{% endcomment %}
{% assign sizes = "300,375,450,800,960" | split: "," %}
<div class="imgbox">
<picture>
  {% for size in sizes %}
    {% assign dir = "w" | append: size %}
    {% assign path = include.filepath | replace: "original", dir %}
    <source srcset="{{ path }}" media="(max-width: {{ size }}px)">
  {% endfor %}
    <source srcset="{{ include.filepath }}">
  <img class="center-fit" src="{{ include.filepath }}" >
</picture>
</div>