<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133308303-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-133308303-1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
     <link href='//fonts.googleapis.com/css?family=ZCOOL+XiaoWei:400,300,700' rel='stylesheet' type='text/css'>
     <link href='//fonts.googleapis.com/css?family=Montserrat:400,300,700' rel='stylesheet' type='text/css'>

    {% include json-ld.html %}

    <!-- Bootstrap core CSS -->
    <link href="{{ site.baseurl }}/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ site.baseurl }}/css/small-business.css" rel="stylesheet">

  </head>

  <body>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=141880232586782&autoLogAppEvents=1';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand pastimes-brand" href="#">Pastimes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{{ site.baseurl }}/#contact">Contact</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{{ site.baseurl }}/#buying">We Buy</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ site.baseurl }}/#gallery">Gallery</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Heading Row -->
      <div class="row my-5">
        <!-- /.col-lg-8 -->
        <div class="col-lg-5">
          <h1 class="pastimes-brand">Pastimes</h1>
          <p>Pastimes is a small, colorful shop packed with an ever-changing array of useful and beautiful vintage and antique items.</p>
          <p>We specialize in antique and vintage jewelry, clothing, art, textiles, ephemera, and early postcards. We also carry early buttons, beads, antique photographs, silver, pins and medals, vinyl records, toys, furniture, glassware, other household items, and various unexpected oddments and curiosities.</p>
          <p>Pastimes is located in downtown Ithaca in <a href="http://www.thedewittmall.com/" alt="Dewitt Mall web site">The Dewitt Mall</a>, a historic building that houses two great restaurants and a variety of unique shopping venues.</p>
          <div>
                <address>
                <strong>Address:</strong><br />
                <a href="http://www.thedewittmall.com/" alt="Dewitt Mall web site">Dewitt Mall</a><br />
                215 North Cayuga Street<br />
                Ithaca, NY 14850<br />
                <em>(Enter mall on Seneca or Buffalo Street)</em>
                </address>
                <p><a href="https://www.google.com/maps/place/Pastimes/@42.440872,-76.5009907,17z/data=!3m1!4b1!4m5!3m4!1s0x89d0819cc771239f:0xa7f3bfb814d11e6e!8m2!3d42.440872!4d-76.498802" title="map and directions to Pastimes">Map and Directions</a></p>
              </div>
              <div>
                <strong>Hours:</strong>
                    <p>Monday - Friday: 10:30 AM - 6:00 PM<br />Saturday: 11:00 AM - 5:30 PM<br />Sunday (December only): 11:00 AM - 3:00 PM</p>
              </div>
              <div>
            <a id="contact"></a>
            <strong>Contact:</strong>
                <p>Email: <a href="mailto:mail@pastimes.com?subject=Contacting Pastimes&nbsp;Antiques via Web Site&body=Thanks for contacting Pastimes Antiques!">mail@pastimes.com</a><br />
                  Phone: (607)-277-3457</p>

                <a href="https://www.facebook.com/PastimesIthaca/" title="go to Pastimes on Facebook" ><img src="{{ site.baseurl }}/assets/img/facebook-20.png" alt="facebook icon">&nbsp;Visit our Facebook page.</a>

                <div class="fb-like" data-href="https://www.facebook.com/PastimesIthaca/" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
              </div>
            </div>
        <!-- /.col-md-4 -->
        <div class="col-lg-7">
            {% include im-musicians.html %}
        </div>
      </div>
      <!-- /.row -->

      <!-- Call to Action Well
      <div class="card text-white bg-secondary my-4 text-center">
        <div class="card-body">
          <p class="text-white m-0">{{ site.description }}
          </p>
        </div>
      </div>
       -->

      <!-- Content Row -->
      <div class="row my-5">
          <div class="col-lg-5">
            <a id="buying"></a>
            <h2 class="card-title">We Buy</h2>
            {% include buying.html %}
          </div>
        <!-- /.col-md-4 -->

      <!-- /.row -->


      <div class="col-lg-7">
        <a id="gallery"></a>
        <h2>Gallery</h2>
        {% include image-gallery.html folder="/assets/pastimes-photos/original" %}
      </div>
      </div>

    </div>
    <!-- /.container -->




    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Pastimes 2019</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    {% include lightbox.html %}
 </body>

</html>
